// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
// [data-page-name=example] {
    @include media-breakpoint(basic) {
        // **** [ Hero Section ] *******
        .heroSection {
            background: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/hero_Bg.jpg) no-repeat, center;
            background-size: cover;
            & .innerSection {
                & .coinImg {
                    & img {
                        animation: rotateAnimation 6s linear infinite;
                    }
                }
            }
        }
        // **** [ Why Chose Use Section ] *******
        .whyChoseSection {
            & .innerSection {
                & .cardSection {
                    & .card{
                            transition: all ease-in-out 0.3s;
                        & .card-body{
                            & .card-img {
                                height: 70px;
                                & img {
                                    transition: all ease-in-out 0.3s;
                                }
                            }
                            & .card-title{
                                transition: all ease-in-out 0.3s;
                            }
                        }
                        &:hover{
                            transform: translateY(-10px);
                            & .card-body{
                                & .card-img {
                                    & img {
                                        filter: brightness(0);
                                    }
                                }
                                & .card-title {
                                    color: $theme1 !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .investorsSection {
            & .innerSection{
                & .cardSection{
                    & .card{
                        transition: all ease-in-out 0.3s;
                        border: 1px solid $theme2;
                        & .card-body {
                            & .cardImg{
                                & .userImg {
                                    width: 100px;
                                    height: 100px;
                                }
                            }
                            & .socialIcon {
                                & .socillinks {
                                    & li {
                                        & a {
                                            width: 35px;
                                            height: 35px;
                                            transition: all ease-in-out 0.3s;
                                            background-color: $gray-300;
                                            & img {
                                            transition: all ease-in-out 0.3s;
                                            }
                                            &:hover {
                                                background: $theme1 !important;
                                                & img {
                                                    filter: invert(1);
                                                    transform: scale(1.1);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:hover {
                            border-color: $theme1;
                        }
                    }
                }
            }
        }

        .stepCardSection {
            & .innerSection {
                & .stepCards {
                    & .stepCard {
                        position: relative;
                        &::before{
                            content: '';
                            width: 100%;
                            height: 35px;
                            background: url(../img/icon/sideDotedImg.svg) no-repeat, center;
                            position: absolute;
                            background-size: cover;
                            top: 35%;
                            right: -50%;
                            transform: translate(0%, -100%);
                            z-index: 0;
                        }
                        & .card-body {
                            position: relative;
                            z-index: 1;
                            & .innerbody {
                                background-color: $gray-300;
                                max-width: 150px;
                                max-height: 150px;
                                width: 100%;
                                height: 100%;
                                & .subInnerBody {
                                    background-color: $gray-500;
                                    & .iconImg {
                                        width: 50px;
                                        height: 50px;
                                    }
                                }
                            }
                        }
                    }
                    & > div {
                        &:last-child{
                            & .stepCard {
                                &::before{
                                display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {
        .heroSection{
            & .innerSection {
                & .mainheading {
                    font-size: 50px !important;
                    
                }
            }
        }
    }



    @include media-breakpoint-up(xl) {
        .heroSection{
            & .innerSection {
                & .mainheading {
                    font-size: 55px !important;
                    
                }
            }
        }
    }

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {
        .stepCardSection {
            & .innerSection {
                & .stepCards {
                    & .stepCard {
                        &::before{
                            display: none;
                        }
                        & .card-body {
                            & .innerbody {
                                & .subInnerBody {
                                    & .iconImg {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
// }

[data-bs-theme=dark] {
    // & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }
        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    // }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

@include media-breakpoint(basic) {
}
@include media-breakpoint-down(xxl) {
}
@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
}
@include media-breakpoint-down(sm) {
}